.pt_vmegamenu_title {
position: relative;
background: #f95d96;
display:none;
}
.pt_vmegamenu_title h2 {
color: #fff;
font-size: 14px;
text-transform: uppercase;
padding: 0px 20px;
margin: 0;
position: relative;
line-height: 45px;
cursor: pointer;
text-align: left;
font-weight: 600;
}
.pt_vmegamenu_title h2 i{
display:none;
font-size:0;
padding-right: 20px;}
.pt_vmegamenu_title h2:before {
content: "\f0c9";
display: inline-block;
margin-right: 30px;
font-family: FontAwesome;
font-size: 17px;
}



@media (max-width: 992px){
	.pt_vmegamenu_title h2 i{
	display: none;}
}
.pt_vmegamenu {
    border-top: 0;
    background: #fff;
    position: relative;
    width: 100%;
	padding:30px 0;
	border-radius:20px;
	margin-bottom:30px;

}
.pt_vmegamenu  .last .parentMenu{background: none}
.pt_vmegamenu div.pt_menu {
    position: relative;

	/* background: #000000;
	border-bottom: 1px solid #000000;
	-webkit-transition: background 300ms ease;
	-moz-transition: background 300ms ease;
	-ms-transition: background 300ms ease;
	-o-transition: background 300ms ease;
	transition: background 300ms ease; */}
.pt_vmegamenu div.pt_menu.active .parentMenu a{
	color: #5e686d;
}
.pt_vmegamenu div.pt_menu .parentMenu a:hover{

	color:#0a97d4;

}
.pt_vmegamenu div.pt_menu .parentMenu:after{
	content: "\f078";
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -7px;
	line-height: 1;
}


.pt_vmegamenu div.pt_menu.nodrop .parentMenu:after{
	display:none;

}
.pt_vmegamenu div.pt_menu .parentMenu a{
    color: #5e686d;
}


.pt_vmegamenu div.pt_menu .parentMenu a.collapsed{
    color: #5e686d;
}


.pt_vmegamenu div.pt_menu.active .parentMenu:after,
.pt_vmegamenu div.pt_menu .parentMenu:hover:after{
	color:#0a97d4;
}
.pt_vmegamenu div.pt_menu:hover .wrap-popup{
	left: 100%;
	opacity:1;
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.pt_vmegamenu div.pt_menu:last-child {
	border-bottom: 0;}
.pt_vmegamenu div.pt_menu.active {
	/* background: #000; */}
.pt_vmegamenu div.popup {
padding:0;
display: none;
position: absolute;
top:0 !important;
text-align: left;
width: auto !important;
z-index: 3000;
left:auto !important;
}
.box-popup {
background-color: #fff;
box-shadow: 0 0 5px -1px #666;
text-align: left;
z-index: 3000;
padding: 15px 30px 30px;
border-radius: 20px;
}
.arrow-left-menu{
background: url("../images/arrow-left-menu.png") no-repeat scroll 0 18px;
float: left;
height: 50px;
margin: -5px 0 0 -15px;
padding: 0;
width: 19px;
position: relative;
z-index: 1;
}
.pt_vmegamenu div.pt_menu .parentMenu a img{
margin-right: 10px;}
.pt_vmegamenu div.pt_menu .parentMenu a{
	text-decoration: none;
    display: block;
    font-family:  'Roboto Slab', cursive;
    font-weight: 400;
    font-size: 16px;
	line-height:32px;
    text-transform: none;
    word-wrap: break-word;
	padding: 5px 15px;
}
.pt_vmegamenu div.pt_menu .parentMenu a span{
	display: inline-block;
	line-height: 25px;
	font-weight: bold;
}
.pt_vmegamenu div.pt_menu .parentMenu{
    font-size: 12px;
    color: #737373;
    position: relative;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;

}

.pt_vmegamenu div.pt_menu .parentMenu:last-child{

}
.pt_vmegamenu .noSub .parentMenu:after {
display:none !important;
}
/* .pt_vmegamenu div.pt_menu .parentMenu a:before{
	background:none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.pt_vmegamenu div.pt_menu.noSub .parentMenu a:before{
	display:none;
}
.pt_vmegamenu div.pt_menu .parentMenu a:hover:before{
	left:10px;
	background:#e98388;
} */
.custom-menu-right { float: left; margin: 0;}
.pt_vmegamenu .column.blockright { width: 220px ; }
.menu-right-title {
    background: url("../images/bg-bottom1-title.gif") repeat-x left bottom;
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
}
.menu-right-title h2 {
    background: url("../images/bg-f-title6.gif") no-repeat scroll left bottom;
    color: #777777;
    font-size: 16px;
    margin: 0;
    padding: 0 0 8px;
    text-transform: uppercase;
}
.menu-right-images { float: left;}
.m-images { float: left;}
.m-images.col1 { margin:20px 0 0;}
.pt_vmegamenu div.pt_menu.last .parentMenu.noSubMenu{
    border: 0;
}
/*.pt_vmegamenu div.pt_menu:hover,.pt_vmegamenu div.pt_menu .active{*/
/*    width: 400px;*/
/*}*/
.navleft-container { position: relative; z-index:99;}
.cms-index-index .navleft-container{margin: 0 0 50px}
.pt_vmegamenu div.popup a {
	text-transform: capitalize;
    font-weight: normal;
    text-decoration: none;
    display: block;
    line-height: 35px;
    color: #5e686d;
    font-size: 14px;
}
.pt_vmegamenu div.popup a:hover {
 color: #00a9e0;

}
.pt_vmegamenu .itemMenu h4.level3,
.pt_vmegamenu .itemMenu a.level3,.pt_vmegamenu .itemMenu a.level4.nochild{
	font-family:  'Roboto Slab', cursive;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 10px;
    color: #5e686d;
    position: relative;
    font-size: 16px;
}
.pt_vmegamenu .itemMenu h4.level3,
.pt_vmegamenu .itemSubMenu h4.level4 span{

}
.pt_vmegamenu .itemMenu h4.level3:hover, .pt_vmegamenu .itemMenu a.level3:hover{
 color: #00a9e0;
}
/* .pt_vmegamenu .itemSubMenu h4.level4,
.pt_vmegamenu .itemSubMenu a.level4,
.pt_vmegamenu .itemSubMenu h4.level3,
.pt_vmegamenu .itemSubMenu a.level3,
.pt_vmegamenu .itemMenu a.level4.nochild{
	text-transform: none;
	font-weight: normal;
	line-height: 25px;
	font-size: 13px;
	text-transform: capitalize;
} */
.pt_vmegamenu .itemSubMenu a.level4:before {
font-size: 11px;
font-family: FontAwesome;
display: inline-block;
margin-right: 10px;
content: "\f101";
}
.pt_vmegamenu .itemSubMenu h4.level4:hover,
.pt_vmegamenu .itemSubMenu a.level4:hover,
.pt_vmegamenu .itemSubMenu h4.level3:hover,
.pt_vmegamenu .itemSubMenu a.level3:hover,
.pt_vmegamenu .itemMenu a.level4.nochild:hover{
color: #00a9e0;
}
.pt_vmegamenu div.popup a.act{color: #7ecc13;}

.pt_vmegamenu div.column {
    float:left;
    width:220px;
    margin-right: 30px;
    padding-right:0;
}
.pt_vmegamenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_vmegamenu div.itemSubMenu {
	position: relative;
}
.pt_vmegamenu .clearBoth {
    clear:both;
}
.pt_vmegamenu .block2{
    margin-top: 10px;
/*    display: inline-block;*/
}
.pt_vmegamenu #popup_home{
    display: none !important;
}
.pt_vmegamenu div.popup .block1{
    overflow: hidden;
}
.pt_vmegamenu div.popup .block1 .column{
}
/*show right block*/
.pt_vmegamenu div.popup .floatleft{
    float: left;
}
.pt_vmegamenu div.popup .blockright img{
    max-width: 100%;
	width:100%;
}
.pt_vmegamenu .parentMenu .block-title{
    color: #1E7EC8;
}

.pt_vmegamenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li{
    float: none;
    list-style: none;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li a{
    float: none;
    padding: 5px 10px 6px;
    display: block;
}
.pt_vmegamenu #pt_menu_link{
    padding: 0;
    width: 195px;
}
.pt_vmegamenu .wrap-popup{
	opacity:0;
    position: absolute;
    left: 115%;
    top: 0;
    width: 914px;
	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.pt_vmegamenu .wrap-popup:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.pt_vmegamenu div.pt_menu{
    padding: 0 !important;
}
.view_more {
	color: #5e686d;
    font-family:  'Roboto Slab', cursive;
    font-weight: 400;
    font-size: 14px;
    font-style: inherit;
    line-height: 35px !important;
	padding:0 15px;

}
.view_more:before {
    content: "\f055";
    font-size: 20px;
    display: inline-block;
    font-family: FontAwesome;
	margin-right:15px;
	color: #f95d96;
}

/*============end megamenu==========================*/

/* edit */
.cate-thumb{
display: inline-block;}
